@media (max-width: 1095px) {
    #header-list ul {
        
    }

    #teacher-contents {
        flex-direction: column;
        align-items: center;
    }

    #teacher-img {
        margin-top: 40px;
        margin-right: 0;
    }

    #teacher-text {
        margin-top: 30px;
    }
}

@media (max-width: 850px) {
    #intro-contents {
        flex-direction: column;
        align-items: center;
    }

    #intro-img {
        margin-right: 0;
    }
    
    #intro-text {
        margin-top: 40px;
    }

    #gallery-contents {
        grid-template-columns: 35% 35%;
    }
    
    .photo:nth-child(5) .img-mask{
        height: 80%;
    }
    
    .photo:nth-child(6) .img-mask{
        height: 100%;
    }

    #concert-contents {
        flex-direction: column;
        align-items: center;
    }

    #concert-img {
        margin-right: 0;
    }

    #concert-text {
        margin-top: 30px;
    }

    #competition-contents {
        flex-direction: column;
        align-items: center;
    }

    #competition-img {
        margin-right: 0;
    }

    #competition-text {
        margin-top: 30px;
    }

    #message-img {
        display: none;
    }

    #message .balloon:before {
        display: none;
    }
}

@media (max-width: 600px) {
    .container h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .container h3 {
        font-size: 17px;
    }

    .container h4 {
        font-size: 15px;
    }

    #top h1 {
        font-size: 35px;
    }

    .onnpu {
        display: none;
    }

    .over-img {
        width: 70%;
        margin-bottom: 20px;
    }

    #gallery-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .photo img {
        width: 80%;
    }

    .photo .img-mask {
        width: 80%;
        left: 10%;
    }

    .photo:nth-child(5) .img-mask{
        height: 100%;
    }

    #home-contact-btn {
        font-size: 20px;
    }

    #price table {
        width: 100%;
        font-size: 13px;
    }

}